<div id="admissionsDrawer" class="nav-info" ng-show="navitems.admissions.showDrawer">
  <div class="row content">
    <div class="container">
      <div class="col-lg-4">
        <ul class="list-unstyled">
          <li>Undergraduate Admissions</li>
          <li>Graduate Studies</li>
          <li>Accelerated Adult Programs</li>
          <li>Adult Student Support</li>
          <li>Financial Aid</li>
          <li>Transfer Admissions</li>
          <li>Pre-College Programs</li>
          <li>International Admissions</li>
        </ul>
      </div>
      <div class="col-lg-4">
        <p>Achieve your goals with a UW Oshkosh degree. Here, your passions can be explored through student organizations, internships, graduate assistantships and student-faculty collaborations. UW Oshkosh has resources for traditional and nontraditional students, graduate and international students.</p>
      </div>
      <div class="col-lg-4">
        <img src="http://lorempixel.com/336/189/nightlife">
      </div><br>
    </div>
  </div>
</div>
