<div id="resourcesDrawer" class="nav-info" ng-show="navitems.resources.showDrawer">
  <div class="row content">
    <div class="container">
      <div class="col-lg-4">
        <ul class="list-unstyled">
          <li>Polk Library</li>
          <li>University Books &amp; More</li>
          <li>Student Organizations</li>
          <li>MyUWO</li>
          <li>TitanFiles</li>
          <li>TitanAlert</li>
        </ul>
      </div>
      <div class="col-lg-4">
        <p>UW Oshkosh&rsquo;s sustainable campus provides a safe place for a diverse community of students, faculty, staff, parents and visitors through our quality academic, technology, employment, financial and campus resources.</p>
      </div>
      <div class="col-lg-4">
        <img src="http://lorempixel.com/336/189/technics">
      </div><br>
    </div>
  </div>
</div>
