<div id="administrationDrawer" class="nav-info" ng-show="navitems.administration.showDrawer">
  <div class="row content">
    <div class="container">
      <div class="col-lg-4">
        <ul class="list-unstyled">
          <li>Administrative Services</li>
          <li>Advancement Division</li>
          <li>Academic Affairs</li>
          <li>Student Affairs</li>
          <li>Information Technology</li>
          <li>Integrated Marketing and Communications</li>
          <li>Alumni Relations</li>
        </ul>
      </div>
      <div class="col-lg-4">
        <p>Led by the dedicated and accomplished Chancellor Richard H. Wells, the University of Wisconsin Oshkosh’s administration continues to provide a high-quality, affordable and comprehensive education to our students and community.</p>
      </div>
      <div class="col-lg-4">
        <img src="http://lorempixel.com/336/189/business">
      </div><br>
    </div>
  </div>
</div>
