<div id="athleticsDrawer" class="nav-info" ng-show="navitems.athletics.showDrawer">
  <div class="row content">
    <div class="container">
      <div class="col-lg-4">
        <ul class="list-unstyled">
          <li>Division III Sports</li>
          <li>Club Sports</li>
          <li>Intramural Sports</li>
          <li>Student Recreation &amp; Wellness Center</li>
          <li>Community</li>
          <li>Videos</li>
        </ul>
      </div>
      <div class="col-lg-4">
        <p>UW Oshkosh produces well-rounded student-athletes in 21 intercollegiate sports and  provides opportunities for students to participate in intramural and club sports, as well as maintaining a state-of-the-art workout facility.</p>
      </div>
      <div class="col-lg-4">
        <img src="http://lorempixel.com/336/189/sports">
      </div><br>
    </div>
  </div>
</div>
