<div id="academicsDrawer" class="nav-info" ng-show="navitems.academics.showDrawer">
  <div class="row content">
    <div class="container">
      <div class="col-lg-4">
        <ul class="list-unstyled">
          <li>Majors and Minors</li>
          <li>College of Business</li>
          <li>College of Education &amp; Human Services</li>
          <li>College of Letters &amp; Science</li>
          <li>College of Nursing</li>
          <li>Graduate Programs</li>
          <li>Academic Support Resources</li>
          <li>Life Learning and Community Engagement</li>
        </ul>
      </div>
      <div class="col-lg-4">
        <p>With nationally-accredited programs, award-winning faculty and quality support services, UW Oshkosh provides students with opportunities for on-campus and online learning, faculty-student collaboration and personal and professional growth with degrees in our four colleges.</p>
      </div>
      <div class="col-lg-4">
        <img src="http://lorempixel.com/336/189/people">
      </div><br>
    </div>
  </div>
</div>
