<div id="alumniDrawer" class="nav-info" ng-show="navitems.alumni.showDrawer">
  <div class="row content">
    <div class="container">
      <div class="col-lg-4">
        <ul class="list-unstyled">
          <li>Alumni Relations Office</li>
          <li>Share Your News</li>
          <li>Get Involved</li>
          <li>Engage Magazine</li>
          <li>Upcoming Events</li>
        </ul>
      </div>
      <div class="col-lg-4">
        <p>As University of Wisconsin Oshkosh alumni, you are part of our large and growing network. More than 80,000 people throughout the U.S. call UW Oshkosh their alma mater! Stay involved and watch the value of your degree continue to grow.</p>
      </div>
      <div class="col-lg-4">
        <img src="http://lorempixel.com/336/189/fashion">
      </div><br>
    </div>
  </div>
</div>
