<div id="calendarsDrawer" class="nav-info" ng-show="navitems.calendars.showDrawer">
  <div class="row content">
    <div class="container">
      <div class="col-lg-4">
        <ul class="list-unstyled">
          <li>Campus Events</li>
          <li>Academic Calendar</li>
          <li>Add/Drop Dates</li>
          <li>Athletic Events</li>
          <li>Student Organizations Calendar</li>
        </ul>
      </div>
      <div class="col-lg-4">
        <p>The community is invited to attend events hosted by our students, faculty and staff on the UW Oshkosh campus. View the public events calendar, as well as important deadlines and academic schedules.</p>
      </div>
      <div class="col-lg-4">
        <img src="http://lorempixel.com/336/189/abstract">
      </div><br>
    </div>
  </div>
</div>
