<div class="row">
  <div class="col-lg-12">

    <img ng-repeat="slide in slides" class="slide img-responsive nonDraggableImage"
      ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
      ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}" alt="Pillar Image" />

      <a href="#" ng-click="nextSlide()"><i class="fa fa-chevron-left"></i></a>
      <a href="#" ng-click="prevSlide()"><i class="fa fa-chevron-right"></i></a>
      <nav class="nav">
        <div class="wrapper">
          <ul class="dots">
            <li class="dot" ng-repeat="slide in slides">
              <a href="#" ng-class="{'active':isCurrentSlideIndex($index)}"
                ng-click="setCurrentSlideIndex($index);">{{slide.name}}</a>
            </li>
          </ul>
        </div>
      </nav>

  </div>
</div>
